.portfolio-container p {
    font-size: .95rem;
}

.portfolio-img {
    height: 200px;
}

.portfolio-links {
    color: #535353;
}

@media (max-width: 576px) {
    .portfolio-container .col-xl-4 {
        margin-bottom: 20px;
    }
}