body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 60px;
}

.spacer {
    height: 56px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.btn {
    border: 2px black solid;
    border-radius: 0;
}

.btn:hover {
    border: 2px gray solid;
    border-radius: 0;
    color: gray;
}

@media (max-width: 576px) {
    .container {
        margin-top: 25px;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }
     
    .btn, #fl-left, #fl-right {
        display: block;
        margin: 10px auto;
        float: none;
    }

    .lead {
        text-align: center;
    }

    #btn-row {
        margin-top: 5px;
    }

    .blockquote {
        margin-top: 50px;
    }
}

@media (min-width: 577px) {
    .container {
        margin-top: 100px;
    }

    #description {
        margin-top: 5px;
    }

    #btn-row {
        margin-top: 80px;
    }

    #fl-left {
        float: left;
        margin: 0
    }

    #fl-right {
        float: right;
        margin: 0;
    }

    .blockquote {
        margin-top: 100px;
    }
}